.TodoListItem{
    display: flex;
    align-items: center;
    border-radius: 6px;
}


.TodoListItem:nth-child(even){
    background-color: #f8f9fa;
}

.TodoListItem:hover{
    background-color: #c5c9cc;
}


.TodoListItem + .TodoListItem{
    border-top: 1px solid #dee2e6;
}

.TodoListItem > .checkbox{
    cursor: pointer;
    flex :1;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.TodoListItem > .checkbox > .ch{
    font-size: 1.5rem;
}

.TodoListItem > .checkbox > .text{
    margin-left: 0.5rem;
    flex: 1;
}



.TodoListItem > .checkbox.checked > .ch{
    color: #22b8cf;
}

.TodoListItem > .checkbox.checked > .text{
    color: #adb5bd;
    text-decoration: line-through;
}


.TodoListItem > .remove{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ff6b6b;
    font-size: 1.5rem;
    padding: 1rem;
}

.TodoListItem > .remove:hover{
    color: #ff8787;
}