*{
    margin: 0;
    padding: 0;
}

.TodoContainer{
    width: 100%;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4);
    background: white;
    z-index: 99;
    position: fixed;
}

.TodoContainer.nav-fixed{
    position: fixed;
}


.nav-fade{
    animation-name: nav-fade;
    animation-duration: 0.5s;
}

@keyframes nav-fade{
    from{opacity: .4;}
    to{opacity: 1;}
}


.TodoTemplate{
    width: 100%;
}

@media (min-width: 992px){
    .TodoTemplate{
        max-width: 1000px;
        margin: 0 auto;
    }
}

.TodoTemplate > .todo-title{
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    font-weight: bold;
    
}


/* section 부분*/
.section-container{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
    z-index: 1;
}